<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>671373158728-lpqfikbrs82l47iv5jp34iiele9oipsa.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.671373158728-lpqfikbrs82l47iv5jp34iiele9oipsa</string>
    <key>API_KEY</key>
    <string>AIzaSyCVoxAhXKzIZK1aGLSNdVlkgtUvTLa_HSE</string>
    <key>GCM_SENDER_ID</key>
    <string>671373158728</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.reconnect.CloudSolidaire.prod</string>
    <key>PROJECT_ID</key>
    <string>coffre-fort-numerique</string>
    <key>STORAGE_BUCKET</key>
    <string>coffre-fort-numerique.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:671373158728:ios:c88ddbc73d4c0361936b7d</string>
  </dict>
</plist>