{
  "crispWebsiteId": "crispWebsiteId",
  "sentry_secret": "sentry_secret",
  "connexionInformation": {
    "client_id": "client_id",
    "client_secret": "client_secret",
    "grant_type": "grant_type"
  },
  "geniusPreProd:": "geniusPreProd",
  "geniusDebug:": "geniusDebug",
  "geniusProd:": "geniusProd"
}
