{
  "crispWebsiteId": "crispWebsiteId",
  "sentry_secret": "sentry_secret",
  "connexionInformation": {
    "client_id": "client_id",
    "client_secret": "client_secret",
    "grant_type": "grant_type"
  },
  "genius_sdk_license_debug:": "genius_sdk_license_debug",
  "genius_sdk_license_prod:": "genius_sdk_license_prod"
}
